name: Build Gradle project

on:
  push:

jobs:
  build-gradle-project:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build with Gradle
        run: ./gradlew build
      - name: Archive reports on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: Dependency Verification Report
          path: build/reports/dependency-verification
      - name: Report unit test results
        uses: dorny/test-reporter@v1.9.1
        if: always()
        with:
          name: JUnit Tests
          path: build/test-results/**/*.xml
          reporter: java-junit
          fail-on-error: true
